rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return request.auth != null
        && request.auth.token.email in [
          "your@email.com"
        ];
    }

    match /events/{eventId} {
      allow read: if resource.data.status == "approved" || isAdmin();
      allow create: if isSignedIn()
        && request.resource.data.status == "pending"
        && request.resource.data.userId == request.auth.uid;
      allow update: if isAdmin();
      allow delete: if isAdmin();
    }

    match /eventRequests/{requestId} {
      allow create: if isSignedIn()
        && request.resource.data.userId == request.auth.uid;
      allow read: if isAdmin()
        || (isSignedIn() && resource.data.userId == request.auth.uid)
        || (isSignedIn() && resource.data.eventOwnerId == request.auth.uid);
      allow update, delete: if isAdmin()
        || (isSignedIn() && resource.data.eventOwnerId == request.auth.uid);
    }

    match /cartItems/{cartItemId} {
      allow create: if isSignedIn()
        && request.resource.data.userId == request.auth.uid;
      allow read, update, delete: if isSignedIn()
        && resource.data.userId == request.auth.uid;
    }
  }
}
